@model tfzr_rsok_autosalon.Viewmodels.CarsViewModel

@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Dobrodosli!</h1>
    <p class="lead">Potpuno novi @Model.Model.CarModels.Name @Model.Model.Manufacturers.Name</p>
    <hr class="my-4">
    <p>@Model.Model.Categorizes.Name</p>
    <p>@Model.Model.HorsePower HP @Model.Model.NumberOfDoors vrata @Model.Model.Torque Nm</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Model.Id" role="button">Kupi odmah!</a>
    </p>
</div>
<p class="text-center">@Model.Model.Description</p>